body{
     background-image: url("bg.jpg");
    background-size: contain;
   
}
input{
    margin:10px;
}
.login{
    padding-top: 20px;
    text-align: center;
    margin:10% 10px;
    margin-left:30%;
    height:350px;
    width: 40%;
    border-radius: 8px;
     background-color: rgba(239, 219, 163, 0.974);
}
button:hover{
    background-color: rgba(84, 222, 174, 0.782);
     box-shadow: 2px 3px rgba(108, 154, 209, 0.793);
     border-radius: 5px;
    
}